.u-section-1 .u-sheet-1 {
  min-height: 1090px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 3px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 7px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 2px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 7px auto 14px 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 172px;
    padding: 33px 73px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    width: auto;
    font-size: 1.125rem;
    margin-top: 36px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-weight: 700;
    width: auto;
    margin-top: 217px;
    margin-right: 164px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-right: 134px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -1176px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.75rem;
    font-weight: 700;
    width: auto;
    margin: 828px 0 60px;
  }
}